<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.win7.example.stuapp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <android:uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <android:uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <android:uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.win7.example.stuapp.ListOfFriends"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.NORMAL" >
                </category>
            </intent-filter>
        </activity>

        <service android:name="com.win7.example.stuapp.service.MService" />

        <activity
            android:name="com.win7.example.stuapp.MainLogin"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" >
                </category>
            </intent-filter>
        </activity>
        <activity
            android:name="com.win7.example.stuapp.WritingMessage"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.NORMAL" >
                </category>
            </intent-filter>
        </activity>
        <activity
            android:name="com.win7.example.stuapp.SignUp"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.NORMAL" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.win7.example.stuapp.AddFriend"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.NORMAL" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.win7.example.stuapp.WritingListFriends"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.NORMAL" />
            </intent-filter>
        </activity>
        <activity android:name="com.win7.example.stuapp.MainActivity" >
        </activity>
    </application>

</manifest>